*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/armeabi-v7a/

*.apk
*.ap_

*.DS_Store
*/build/
*.dex
*.class
*.log
bin/
gen/
local.properties
.classpath
.project
proguard/

*.iml
*.ipr
*.iws
.idea/
.gradle/
gradle/
app/.gradle/
.idea/libraries
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_setting.xml
.idea/moudles.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_setting.xml
.idea/encodings.xml
.idea/.name




